@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.6%;
  --card: 0 0% 96.3%;
  --card-foreground: 0 0% 3.6%;
  --primary: 0 84.2% 60.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 96.3%;
  --secondary-foreground: 0 0% 3.6%;
  --muted: 0 0% 88.7%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 84.2% 60.2%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 84.2% 60.2%;
  --radius: 0.5rem;
}

/* * {
  @apply border-border;
} */

/* body {
  @apply bg-background text-foreground;
} */
